:root {
}

.header {
    font-size: 72px;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    -unity-font-style: normal;
    -unity-font-definition: url("project://database/Assets/Fonts/GoogleSans/GoogleSansFlex_72pt-Bold.ttf?fileID=12800000&guid=8606e6655ab624262af18f5dea3d5535&type=3#GoogleSansFlex_72pt-Bold");
}

Button {
    font-size: 20px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -unity-font-style: normal;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    -unity-font-definition: url("project://database/Assets/Fonts/GoogleSans/GoogleSansFlex_72pt-Bold.ttf?fileID=12800000&guid=8606e6655ab624262af18f5dea3d5535&type=3#GoogleSansFlex_72pt-Bold");
    padding-left: 25px;
    padding-right: 25px;
}

.Lable {
    -unity-font-definition: url("project://database/Assets/Fonts/GoogleSans/GoogleSansFlex_72pt-Medium.ttf?fileID=12800000&guid=8ef1adb5892f043ad949ae5259924043&type=3#GoogleSansFlex_72pt-Medium");
    font-size: 35px;
    -unity-text-align: middle-left;
}

#chat-scroll-view .unity-scroll-view__content-container {
    flex-direction: column-reverse;
    flex-grow: 1;
    align-content: flex-end;
}

.unity-text-element {
    -unity-font-definition: url("project://database/Assets/Fonts/GoogleSans/GoogleSansFlex_72pt-Medium.ttf?fileID=12800000&guid=8ef1adb5892f043ad949ae5259924043&type=3#GoogleSansFlex_72pt-Medium");
}

.chat-msg {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -7px;
    margin-bottom: -7px;
    font-size: 18px;
}

.chat-msg__body {
    flex-grow: 1;
    color: rgb(255, 255, 255);
}

.chat-msg__prefix {
    flex-shrink: 0;
}

.chat-msg__prefix--all {
    color: rgb(227, 52, 46);
}

.chat-msg__prefix--whisper-from {
    color: rgb(0, 169, 255);
}

.chat-msg__prefix--whisper-to {
    color: rgb(160, 32, 240);
}

.chat-msg__prefix--system {
    color: rgb(255, 235, 4);
}

.chat--hidden {
    display: none;
}

.hidden {
    display: none;
}

.top-dropdown {
    align-items: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-dropdown > .unity-base-field__label {
    min-width: initial;
}

.top-dropdown > .unity-text-element {
    align-items: center;
    align-self: center;
    margin-left: 4px;
    font-size: 18px;
    -unity-text-align: middle-left;
}

.top-dropdown > .unity-base-field__input {
    align-items: center;
    align-self: center;
    margin-left: 0;
    width: 150px;
}

.play-indicator {
}

.play-indicator .unity-radio-button__checkmark {
    background-color: rgb(255, 117, 0);
}



.play-indicator.green .unity-radio-button__checkmark {
    background-color: rgb(40, 154, 0);
}
